.news {
    .header-facebook{
        background-color: #3B5998;
        color: white;
        font-weight: bold;
        height: 60px;
        margin-top: -15px;
    }
    .padding-item {
        margin-top: 10px !important;
    }

    ion-card-header {
        font-weight: bold;
    }

    textarea, p {
        text-align: justify;
    }
} 
