.home {
    .good-vote{
        color: $vote-positive;
        font-size: 12px;;
    }
    
    .bad-vote {
        color: $vote-negative;
        font-size: 13px;
    }
    
    .padding-item {
        margin-top: 10px !important;
    }
}